/* RESPONSIVE */

@media (max-width: 480px) {

    .poi-menu-horizontal {
        width:100%;
    }

    .poi-menu-children li {
        display: block;
        border-bottom:1px solid block;
    }

}
