/* MAIN MENU STYLING */

.poi-menu.poi-menu-open,
.poi-menu.poi-menu-horizontal li .poi-menu-children {
    background: #ffffff; /* Old browsers */
    border: 1px solid #b7b7b7;
}

/* remove borders for horizontal menus */
.poi-menu.poi-menu-horizontal, .poi-menu.poi-menu-horizontal .poi-menu-heading {
    border: none;
}



/* LINK STYLES */

.poi-menu a {
    border: 1px solid transparent;
    border-left: none;
    border-right: none;

}

.poi-menu a,
.poi-menu .poi-menu-can-have-children > li:after {
    color: #777;
}

.poi-menu .poi-menu-can-have-children > li:hover:after {
    color: #fff;
}



/* HOVER STATES */
.poi-menu li a:hover {
    background: #eee;
}

/* DISABLED STATES */
.poi-menu li.poi-menu-disabled a:hover {
    background: #fff;
    color: #bfbfbf;
}

.poi-menu .poi-menu-disabled > a {
    background-image: none;
    border-color: transparent;
    cursor: default;
}

.poi-menu .poi-menu-disabled > a,
.poi-menu .poi-menu-can-have-children.poi-menu-disabled > a:after {
    color: #bfbfbf;
}

/* HEADINGS */
.poi-menu .poi-menu-heading {
    color: #565d64;
    text-transform: uppercase;
    font-size:90%;
    margin-top:0.5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dfdfdf;
}

/* ACTIVE MENU ITEM */
.poi-menu .poi-menu-selected a {
    color: #000;
}

/* FIXED MENU */
.poi-menu.poi-menu-open.poi-menu-fixed {
    border: none;
    border-bottom: 1px solid #b7b7b7;
}
