.related-posts{
	@extend %text-nowrap;
	.row{
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;
	}
	.card{
		margin: 0;
		display: inline-block;
		width: 15rem;
		padding: 0 $grid-gutter;
		.title{
			height: auto;
			@extend %text-overflow;
		}
	}
}