#footer{
	font-size: 1rem;
	.widget{
		.heading{
			padding: 0;
			.widget-title{
				padding: 0;
				color: $excerpt-color;
				a{
					color: $excerpt-color;
					border-bottom: 1px dotted $excerpt-color;
				}
			}
			& + *{
				border: none;
				padding: 0;
			}
		}
		.menu{
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			li{
				float: left;
				width: 50%;
				margin-bottom: 1rem;
			}
			a{
				display: block;
			}
		}
	}
	
}