.widget{
	.media-left{
		.thumbnail-container{
			@extend %thumbnail-container;
			width: 5rem;
		}
	}
	.media-heading{
		font-size: 1.1rem;
	}
	.media-body{
		.metas{
			font-size: 1rem;
			color: $excerpt-color;
		}
	}
}