$p: ".tip-status";
#{$p}{
	position: relative;
	padding: ($status-tip-gutter / 2) $status-tip-gutter;
	border-radius: $global-border-radius;
	border: 1px solid rgba(#000,.1);

	a{
		text-decoration: underline;
	}
}
/** 
 * type
 */
#{$p}-success,
#{$p}-green{background:#defcd5;color:#52a954}

#{$p}-error,
#{$p}-ban{background:#f1d7d7;color:#c75050}

#{$p}-warning{background:#f6f3d5;color:#96904d}

#{$p}-help,
#{$p}-blue,
#{$p}-info{background:#e6f4f9;color:#4d8796}
#{$p}-question{background:#FBEC88;color:#363636}

#{$p}-spinner,
#{$p}-loading{background:#FBEC88;color:#666}
/** 
 * size 
 */
#{$p}-middle{font-size:2rem}
#{$p}-large{font-size:3rem}

.fa-spin {
    animation: 2s cubic-bezier(.68,-0.55,.27,1.55) 0s normal none infinite running fa-spin;
}