f.wp-editor-container{
	border: 1px solid #e5e5e5;
	
}
.mce-statusbar .mce-container-body{
	background: #f5f5f5 !important;
}
.screen-reader-text{
	display: none;
}
#ctb-split-number{
	display: inline-block;
	width: auto;
}
#ctb-file-btn{
	position: relative;
	background: rgb(248,248,248);
	overflow: hidden;
	width: 100%;
	padding: .5em 0;
	border: 5px dashed #999;
	text-align: center;
	border-radius: 2px;
	font-size: 1.5em;
	color: #666;
	margin-bottom: 10px;
}
	#ctb-file-btn:hover{
		background: #eee;
		border-color: #333;
		color: #333;
	}
#ctb-file{
	position: absolute;
	font-size: 99em;
	right: -10px;
	top: -10px;
	opacity: 0;
	cursor: pointer;
}
#fm-ctb label.error{
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	margin: 10px 0 0;
	
}
	#fm-ctb label.error:after{
		top: -5px;
		left: 10px;
	}
	#ctb-file-progress-container,
	#ctb-file-completion,
	#ctb-files{
		display: none;
		margin-top: 10px;
	}
	#ctb-file-progress-container{
		position: relative;
		height: 70px;
		overflow: hidden;
		border-radius: 2px;
		margin-bottom: 10px;
	}
	#ctb-file-progress{
		position: absolute;
		left: 0;
		top: 0;
		width: 1px;
		height: 100%;
		-webkit-transition-duration: .75s;
		transition-duration: .75s;
	}

	#ctb-files{
		margin-top: 0;
	}
	
	#ctb-files .thumbnail-tpl{
		position: relative;
		margin-top: 10px;
	}
		#ctb-files .thumbnail-tpl .img-link{
			min-height: 98px;
		}
		#ctb-files .thumbnail-tpl input[type=radio]{
			display: none;
		}
		.ctb-insert-btn{
			padding: 5px 0;
			font-size: 12px;
			margin-bottom: 5px;
		}
		.ctb-set-cover-btn{
			display: block;
			border-radius:2px;
			padding: 2px 0;
			text-align: center;
			font-weight: normal;
			font-size: 12px;
		}
			.ctb-set-cover-btn:hover{
				background: #eee;
			}
		#ctb-files .thumbnail-tpl .img-thumbnail-checkbox:checked + .ctb-set-cover-btn{
			background: #2196F3;
			color: #fff;
			border-color: #2196F3;
		}
		.ctb-set-cover-btn i{
			display: none;
		}
		#ctb-files .thumbnail-tpl .img-thumbnail-checkbox:checked + .ctb-set-cover-btn i{
			display: inline-block;
		}
		.ctb-img-des{
			width: 100%;
			resize: none;
		}
		#ctb-files .img-link{
			display: block;
			border: 1px solid #fff;
			box-shadow: 0 0 3px rgba(0,0,0,.3);
			border-radius: 4px;
			margin-bottom: 5px;
			overflow: hidden;
		}
			#ctb-files .img-link:hover{
				border-color: #428bca;
			}
			#ctb-files .img-del{
				position: absolute;
				right: 10px;
				top: 0;
				width: 20px;
				height: 20px;
				font-size: 10px;
				font-weight: bold;
				text-align: center;
				line-height: 20px;
				color:#fff;
				border-radius: 50%;
				background: #FF4081;
				opacity: .7;
				cursor: pointer;
			}
			#ctb-files .img-del:hover{
				opacity: 1;
			}
#fm-ctb .page-tip{
	display: none;
}

#fm-ctb .form-group:nth-child(2n){
	padding: 1rem 0;
	background: #F8F8F8; 
}
/**
 * .ctb-cat
 */
.ctb-cat{
	display: none;
	width: auto;
	cursor: pointer;
}
	.ctb-cat:first-child{
		display: inline-block;
	}
	.ctb-cat.selected{
		display: inline-block;
	}
	

/**
 * .howto
 */
.howto{display: none;}
/**
 * .ctb-insert-btn
 */
.ctb-insert-btn + .dropdown-toggle{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/**
 * .checkbox-select
 */
#fm-ctb .checkbox-select{
}
	.ctb-tag{
		display: inline-block;
		margin-bottom: .5rem;
	}
	.ctb-tag .label{
		font-weight: normal;
	}
	.ctb-tag input:checked + .label{
		background: #4cae4c;
		color: #fff;
	}

/**
 * #custom-tag
 */
.custom-tag-list{
	width: 100%;
}
#custom-tag-added-container,
#custom-tag-add-container{
	float: left;
}
#reprint-group{
	padding-top: 10px;
	display: none;
}

.wp-editor-wrap{
	margin-top: -30px;
}

.theme_custom_post_source-inputs{
	display: none;
}
html .wp-editor-area{
	border: 1px solid #eee;
	border-bottom-width: 2px;
}
label[for="ctb-content"]{
	display: block;
	margin: 0 0 -2rem;
}
@media (min-width: 768px){
	.wp-editor-wrap{
		margin-top: 0;
	}
}