.clearfix:before, .g:before, .row:before, .clearfix:after, .g:after, .row:after {
  content: " ";
  display: table; }
.clearfix:after, .g:after, .row:after {
  clear: both; }

.page-pagination {
  -ms-transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s; }

.card.sm .card-meta .meta.author .tx, .card.lg .card-meta .author .tx, .tools .tool-me .box a, .related-posts .card .title, .widget_point_rank .author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#footer .links-container #links-footer li a {
  color: #959595; }
  #footer .links-container #links-footer li a:hover, #footer .links-container #links-footer li a.hover {
    color: #ff6fa2; }

.nav-main, .adjacent-posts .title, .related-posts {
  white-space: nowrap; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #f6f6f6;
  color: #666;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: "Microsoft Yahei", sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 75%; }

@media (max-width: 767px) {
  html {
    font-size: 87.5%; } }
body {
  line-height: 1.5; }

a {
  text-decoration: none; }

p {
  margin-top: 0; }

.hide,
.none,
[hidden] {
  display: none; }

.g-phone-1-1, .g-phone-1-2, .g-phone-2-2, .g-phone-1-3, .g-phone-2-3, .g-phone-3-3, .g-phone-1-4, .g-phone-2-4, .g-phone-3-4, .g-phone-4-4, .g-phone-1-5, .g-phone-2-5, .g-phone-3-5, .g-phone-4-5, .g-phone-5-5, .g-phone-1-6, .g-phone-2-6, .g-phone-3-6, .g-phone-4-6, .g-phone-5-6, .g-phone-6-6, .g-tablet-1-1, .g-tablet-1-2, .g-tablet-2-2, .g-tablet-1-3, .g-tablet-2-3, .g-tablet-3-3, .g-tablet-1-4, .g-tablet-2-4, .g-tablet-3-4, .g-tablet-4-4, .g-tablet-1-5, .g-tablet-2-5, .g-tablet-3-5, .g-tablet-4-5, .g-tablet-5-5, .g-tablet-1-6, .g-tablet-2-6, .g-tablet-3-6, .g-tablet-4-6, .g-tablet-5-6, .g-tablet-6-6, .g-desktop-1-1, .g-desktop-1-2, .g-desktop-2-2, .g-desktop-1-3, .g-desktop-2-3, .g-desktop-3-3, .g-desktop-1-4, .g-desktop-2-4, .g-desktop-3-4, .g-desktop-4-4, .g-desktop-1-5, .g-desktop-2-5, .g-desktop-3-5, .g-desktop-4-5, .g-desktop-5-5, .g-desktop-1-6, .g-desktop-2-6, .g-desktop-3-6, .g-desktop-4-6, .g-desktop-5-6, .g-desktop-6-6 {
  float: left;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem; }

.g {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem; }

.g-phone-1-1 {
  width: 100%; }

.g-phone-1-2 {
  width: 50%; }

.g-phone-2-2 {
  width: 100%; }

.g-phone-1-3 {
  width: 33.33333%; }

.g-phone-2-3 {
  width: 66.66667%; }

.g-phone-3-3 {
  width: 100%; }

.g-phone-1-4 {
  width: 25%; }

.g-phone-2-4 {
  width: 50%; }

.g-phone-3-4 {
  width: 75%; }

.g-phone-4-4 {
  width: 100%; }

.g-phone-1-5 {
  width: 20%; }

.g-phone-2-5 {
  width: 40%; }

.g-phone-3-5 {
  width: 60%; }

.g-phone-4-5 {
  width: 80%; }

.g-phone-5-5 {
  width: 100%; }

.g-phone-1-6 {
  width: 16.66667%; }

.g-phone-2-6 {
  width: 33.33333%; }

.g-phone-3-6 {
  width: 50%; }

.g-phone-4-6 {
  width: 66.66667%; }

.g-phone-5-6 {
  width: 83.33333%; }

.g-phone-6-6 {
  width: 100%; }

.g-tablet-1-1 {
  width: 100%; }

.g-tablet-1-2 {
  width: 50%; }

.g-tablet-2-2 {
  width: 100%; }

.g-tablet-1-3 {
  width: 33.33333%; }

.g-tablet-2-3 {
  width: 66.66667%; }

.g-tablet-3-3 {
  width: 100%; }

.g-tablet-1-4 {
  width: 25%; }

.g-tablet-2-4 {
  width: 50%; }

.g-tablet-3-4 {
  width: 75%; }

.g-tablet-4-4 {
  width: 100%; }

.g-tablet-1-5 {
  width: 20%; }

.g-tablet-2-5 {
  width: 40%; }

.g-tablet-3-5 {
  width: 60%; }

.g-tablet-4-5 {
  width: 80%; }

.g-tablet-5-5 {
  width: 100%; }

.g-tablet-1-6 {
  width: 16.66667%; }

.g-tablet-2-6 {
  width: 33.33333%; }

.g-tablet-3-6 {
  width: 50%; }

.g-tablet-4-6 {
  width: 66.66667%; }

.g-tablet-5-6 {
  width: 83.33333%; }

.g-tablet-6-6 {
  width: 100%; }

.g-desktop-1-1 {
  width: 100%; }

.g-desktop-1-2 {
  width: 50%; }

.g-desktop-2-2 {
  width: 100%; }

.g-desktop-1-3 {
  width: 33.33333%; }

.g-desktop-2-3 {
  width: 66.66667%; }

.g-desktop-3-3 {
  width: 100%; }

.g-desktop-1-4 {
  width: 25%; }

.g-desktop-2-4 {
  width: 50%; }

.g-desktop-3-4 {
  width: 75%; }

.g-desktop-4-4 {
  width: 100%; }

.g-desktop-1-5 {
  width: 20%; }

.g-desktop-2-5 {
  width: 40%; }

.g-desktop-3-5 {
  width: 60%; }

.g-desktop-4-5 {
  width: 80%; }

.g-desktop-5-5 {
  width: 100%; }

.g-desktop-1-6 {
  width: 16.66667%; }

.g-desktop-2-6 {
  width: 33.33333%; }

.g-desktop-3-6 {
  width: 50%; }

.g-desktop-4-6 {
  width: 66.66667%; }

.g-desktop-5-6 {
  width: 83.33333%; }

.g-desktop-6-6 {
  width: 100%; }

.row {
  padding-left: 0;
  padding-right: 0;
  margin-left: -1rem;
  margin-right: -1rem; }

@media (max-width: 767px) {
  .hidden-phone,
  .visible-desktop,
  .visible-tablet {
    display: none; }

  [class*="g-tablet"],
  [class*="g-desktop"] {
    width: 100%; }

  [class*="g-table"],
  [class*="g-desktop"],
  [class*="g-phone"] {
    padding-left: 1rem;
    padding-right: 1rem; }

  .g {
    padding-right: 1rem;
    padding-left: 1rem; } }
@media (min-width: 768px) and (max-width: 959px) {
  .visible-desktop,
  .visible-phone,
  .hidden-table {
    display: none; }

  [class*="g-desktop"] {
    width: 100%; } }
@media (min-width: 960px) {
  .g {
    max-width: 1366px; }

  .visible-tablet,
  .visible-phone,
  .hidden-desktop {
    display: none; } }
@media (min-width: 768px) {
  .g {
    padding-right: 6rem;
    padding-left: 6rem; } }
.panel .content, .widget > *:last-child, .singular-post, .comment-list .comment-body {
  background: #fff;
  border: 1px solid #eee;
  padding: 2rem 2rem 1rem 2rem;
  border-bottom-width: 2px; }

.panel {
  border-radius: 4px;
  margin-bottom: 2rem; }
  .panel .heading {
    margin-bottom: 1rem; }
    .panel .heading .title {
      display: inline-block;
      font-size: 1rem;
      margin: 0; }
  .panel .footer {
    margin-top: -2px;
    border: 1px solid #eee;
    border-top-width: 0; }

.input-group .form-control, .input-group .addon {
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle; }

label {
  cursor: pointer; }

.form-group {
  margin-bottom: 1em; }

input[type="checkbox"], input[type="radio"] {
  vertical-align: middle; }

.form-control {
  display: block;
  width: 100%;
  padding: 1rem;
  border-width: 0 0 2px 0;
  border-color: #eee; }
  .form-control:hover, .form-control.hover {
    border-color: #ccc; }
  .form-control:focus, .form-control.focus {
    outline: 0;
    border-color: #129FEA; }

.input-group {
  display: table; }
  .input-group .addon {
    margin-top: 1rem;
    padding: 0 1rem;
    width: 1%;
    color: #999; }

.btn, .pager > * {
  display: inline-block;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
  border-radius: 2px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-decoration: none !important;
  white-space: nowrap; }
  .btn.btn-lg, .pager > .btn-lg {
    font-size: 2rem; }
  .btn.btn-block, .pager > .btn-block {
    display: block;
    width: 100%; }
  .btn[disabled], .pager > [disabled], .btn.disabled, .pager > .disabled {
    cursor: not-allowed;
    opacity: .5; }
  .btn:hover, .pager > :hover, .btn.hover, .pager > .hover, .btn:active, .pager > :active, .btn.active, .pager > .active, .btn:focus, .pager > :focus, .btn.focus, .pager > .focus {
    color: #fff; }
  .btn.btn-default, .pager > .btn-default, .pager .middle, .pager .prev {
    background: #fff;
    color: #666;
    border: 1px solid #eee;
    text-shadow: none; }
    .btn.btn-default:hover, .pager > .btn-default:hover, .pager .middle:hover, .pager .prev:hover, .btn.btn-default.hover, .pager > .btn-default.hover, .pager .hover.middle, .pager .hover.prev {
      border-color: #d5d5d5;
      color: #535353; }
    .btn.btn-default:active, .pager > .btn-default:active, .pager .middle:active, .pager .prev:active, .btn.btn-default.active, .pager > .btn-default.active, .pager .active.middle, .pager .active.prev, .btn.btn-default:focus, .pager > .btn-default:focus, .pager .middle:focus, .pager .prev:focus, .btn.btn-default.focus, .pager > .btn-default.focus, .pager .focus.middle, .pager .focus.prev {
      color: #535353;
      background: #eee; }
  .btn.btn-success, .pager > .btn-success, .pager .next {
    background: #60a917; }
    .btn.btn-success:hover, .pager > .btn-success:hover, .pager .next:hover {
      background: #6dbf1a; }
    .btn.btn-success:focus, .pager > .btn-success:focus, .pager .next:focus {
      background: #539314; }
  .btn.btn-primary, .pager > .btn-primary {
    background: #2086bf; }
    .btn.btn-primary:hover, .pager > .btn-primary:hover {
      background: #2495d5; }
    .btn.btn-primary:focus, .pager > .btn-primary:focus {
      background: #1c77a9; }
  .btn.btn-info, .pager > .btn-info {
    background: #42B8DD; }
    .btn.btn-info:hover, .pager > .btn-info:hover {
      background: #58c0e1; }
    .btn.btn-info:focus, .pager > .btn-info:focus {
      background: #2cb0d9; }
  .btn.btn-warning, .pager > .btn-warning {
    background: #DF7514; }
    .btn.btn-warning:hover, .pager > .btn-warning:hover {
      background: #eb8221; }
    .btn.btn-warning:focus, .pager > .btn-warning:focus {
      background: #c86912; }
  .btn.btn-danger, .pager > .btn-danger {
    background: #ce352c; }
    .btn.btn-danger:hover, .pager > .btn-danger:hover {
      background: #d6463e; }
    .btn.btn-danger:focus, .pager > .btn-danger:focus {
      background: #b93028; }

.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: middle; }

.media-left {
  padding-right: 1rem; }

.media-right {
  padding-left: 1rem; }

.media-body {
  width: 100%; }

.media-heading {
  margin: 0 0 .5rem;
  font-weight: normal;
  font-size: 1.3rem;
  color: #535353; }

.pager {
  display: table;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 1.5rem;
  clear: both; }
  .pager > * {
    display: table-cell;
    width: 1%; }
    .pager > *:first-child.middle {
      border-left-width: 1px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .pager > *:last-child.middle {
      border-right-width: 1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  .pager .middle {
    border-left-width: 0;
    border-right-width: 0;
    padding: 0; }
  .pager .prev {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .pager select {
    background: transparent;
    text-align: center;
    cursor: pointer;
    border: none; }

.list-group {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .list-group .list-group-item {
    background: #fff;
    padding: 1rem;
    margin-bottom: -1px;
    border: 1px solid #eee; }
    .list-group .list-group-item:first-child {
      border-radius: 4px 4px 0 0; }
    .list-group .list-group-item:last-child {
      border-radius: 0 0 4px 4px; }
    .list-group .list-group-item > badge {
      float: right; }
    .list-group .list-group-item > a {
      display: block;
      margin: -1rem;
      padding: 1rem; }
      .list-group .list-group-item > a:hover, .list-group .list-group-item > a.hover {
        background: #F8F8F8; }
      .list-group .list-group-item > a:active, .list-group .list-group-item > a.active {
        background: #eee; }

.crumb {
  position: relative;
  color: #959595;
  margin: 1rem 0;
  font-size: 1.5rem; }
  .crumb .home .tx {
    display: none; }
  .crumb a {
    color: #959595; }
    .crumb a:hover, .crumb a.hover, .crumb a:active, .crumb a.active {
      color: #ff6fa2; }
  .crumb .split {
    padding: 0 1rem; }

.label {
  display: inline-block;
  color: #fff;
  border-radius: 4px;
  padding: .2rem .5rem;
  font-weight: bold;
  white-space: nowrap; }
  .label.label-default {
    background: #777; }
  .label.label-success {
    background: #60a917; }
  .label.label-primary {
    background: #2086bf; }
  .label.label-info {
    background: #59cde2; }
  .label.label-danger {
    background: #ce352c; }
  .label.label-warning {
    background: #fa6800; }

a {
  color: #4083a9; }
  a:hover, a.hover {
    color: #ff6fa2; }
  a:active, a.active {
    color: #FF4081; }

.widget .media-left .thumbnail-container {
  width: 5rem; }
.widget .media-heading {
  font-size: 1.1rem; }
.widget .media-body .metas {
  font-size: 1rem;
  color: #959595; }

.widget .media-left .thumbnail-container, .card .thumbnail-container {
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 62.5%;
  border-radius: 4px;
  overflow: hidden; }
  .widget .media-left .thumbnail-container img, .card .thumbnail-container img {
    display: block;
    width: 100%;
    height: auto; }

.card.sm .card-bg:hover, .card.xs .card-bg:hover, .card.sm .hover.card-bg, .card.xs .hover.card-bg {
  background: #F8F8F8; }
.card.sm .card-bg:active, .card.xs .card-bg:active, .card.sm .active.card-bg, .card.xs .active.card-bg {
  background: #eee; }

.card-container, .widget_author_posts .card-container {
  background: none;
  padding: 0;
  margin: 0;
  border: none; }

.card {
  margin-bottom: 2rem; }
  .card .card-bg {
    display: block;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(192, 192, 192, 0.35);
    border-radius: 4px; }
  .card .thumbnail-container {
    border-radius: 4px 4px 0 0; }
  .card img {
    width: 100%;
    height: auto; }
  .card .meta {
    color: #959595; }
    .card .meta.author .tx {
      color: #4083a9; }
      .card .meta.author .tx:hover, .card .meta.author .tx.hover {
        color: #ff6fa2; }

.card.sm .card-bg {
  padding-bottom: 2.5rem;
  font-size: 1rem;
  overflow: hidden; }
.card.sm .card-cat {
  position: absolute;
  top: 0;
  left: 1rem;
  color: #fff;
  font-size: 1rem;
  z-index: 1; }
  .card.sm .card-cat span {
    float: left;
    padding: .1rem .5rem;
    margin-right: .2rem;
    border-radius: 0 0 4px 4px; }
.card.sm .card-title {
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  position: absolute;
  margin: 0;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
  font-weight: bold;
  padding: 2rem 0.5rem 0.5rem 4rem;
  text-shadow: 0 1px 3px #000;
  color: #fff; }
  .card.sm .card-title h2,
  .card.sm .card-title h3 {
    font-size: 1.1rem;
    margin: 0; }
.card.sm .avatar {
  position: absolute;
  left: 0.5rem;
  top: -1.5rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
  overflow: hidden; }
.card.sm .card-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: .5rem;
  height: 2.5rem;
  padding-left: 4rem;
  line-height: 2.5rem; }
  .card.sm .card-meta .meta {
    float: left; }
    .card.sm .card-meta .meta.author .tx {
      display: inline-block;
      max-width: 6rem; }
  .card.sm .card-meta .time {
    float: right; }

.card.lg .card-bg {
  -webkit-transition: box-shadow 0.2s;
  -ms-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s; }
  .card.lg .card-bg:hover, .card.lg .card-bg.hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25); }
  .card.lg .card-bg:active, .card.lg .card-bg.active {
    background: #eee; }
.card.lg .card-cat {
  position: absolute;
  bottom: 0;
  left: 1rem;
  color: #fff;
  font-size: 1rem; }
  .card.lg .card-cat span {
    float: left;
    padding: .1rem .5rem;
    margin-right: .2rem;
    border-radius: 4px 4px 0 0; }
.card.lg .card-title {
  display: block;
  padding: 1rem;
  line-height: 1.5;
  height: 5.5rem;
  color: #535353;
  overflow: hidden; }
  .card.lg .card-title h3 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: normal; }
.card.lg .card-meta {
  display: table;
  table-layout: fixed;
  text-align: center;
  font-size: 1rem;
  line-height: 4rem;
  white-space: nowrap; }
  .card.lg .card-meta .meta {
    display: table-cell;
    width: 1%; }
  .card.lg .card-meta .avatar {
    width: 2rem;
    height: 2rem;
    vertical-align: sub; }

.card.xs .title {
  margin: 0;
  font-weight: normal;
  padding: 0.2rem 0.5rem;
  height: 3.4rem;
  font-size: 1rem;
  overflow: hidden;
  color: #535353; }
.card.xs:hover .title, .card.xs.hover .title {
  color: #ff6fa2; }

@media (max-width: 959px) {
  .card.xs .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto; } }
.avatar {
  border-radius: 50%;
  background-color: #fff; }

#footer {
  font-size: 1rem; }
  #footer .widget .heading {
    padding: 0; }
    #footer .widget .heading .widget-title {
      padding: 0;
      color: #959595; }
      #footer .widget .heading .widget-title a {
        color: #959595;
        border-bottom: 1px dotted #959595; }
    #footer .widget .heading + * {
      border: none;
      padding: 0; }
  #footer .widget .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    #footer .widget .menu li {
      float: left;
      width: 50%;
      margin-bottom: 1rem; }
    #footer .widget .menu a {
      display: block; }

.widget {
  margin-bottom: 2rem; }
  .widget .widget-title {
    padding: 0 0 0 1rem;
    font-size: 1rem;
    color: #535353;
    margin-bottom: 1rem; }

.widget .list-group-item {
  position: relative; }

.widget_rank .list-group-item:before {
  position: absolute;
  bottom: .5rem;
  right: 1rem;
  font-size: 2rem;
  color: #ff6fa2;
  font-style: italic;
  font-weight: bold;
  content: '1';
  opacity: .3; }
.widget_rank .list-group-item:hover:before, .widget_rank .list-group-item.hover:before {
  opacity: 1; }
.widget_rank .list-group-item:nth-child(2):before {
  content: "2"; }
.widget_rank .list-group-item:nth-child(3):before {
  content: "3"; }
.widget_rank .list-group-item:nth-child(4):before {
  content: "4"; }
.widget_rank .list-group-item:nth-child(5):before {
  content: "5"; }
.widget_rank .list-group-item:nth-child(6):before {
  content: "6"; }
.widget_rank .list-group-item:nth-child(7):before {
  content: "7"; }
.widget_rank .list-group-item:nth-child(8):before {
  content: "8"; }
.widget_rank .list-group-item:nth-child(9):before {
  content: "9"; }
.widget_rank .list-group-item:nth-child(10):before {
  content: "10"; }
.widget_rank .list-group-item:nth-child(11):before {
  content: "11"; }
.widget_rank .list-group-item:nth-child(12):before {
  content: "12"; }
.widget_rank .list-group-item:nth-child(13):before {
  content: "13"; }
.widget_rank .list-group-item:nth-child(14):before {
  content: "14"; }
.widget_rank .list-group-item:nth-child(15):before {
  content: "15"; }
.widget_rank .list-group-item:nth-child(16):before {
  content: "16"; }
.widget_rank .list-group-item:nth-child(17):before {
  content: "17"; }
.widget_rank .list-group-item:nth-child(18):before {
  content: "18"; }
.widget_rank .list-group-item:nth-child(19):before {
  content: "19"; }
.widget_rank .list-group-item:nth-child(20):before {
  content: "20"; }

.back-to-top {
  position: fixed;
  background: #fff;
  bottom: 0;
  right: 0;
  opacity: .7;
  padding: 1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  color: #ccc;
  border-radius: 2px; }
  .back-to-top:hover, .back-to-top.hover {
    opacity: 1;
    color: #666; }
  .back-to-top:active, .back-to-top.active {
    color: #ccc; }

#fm-search-page {
  margin-bottom: 2rem; }
  #fm-search-page label {
    position: absolute;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #959595; }

#search-page-s {
  border: 3px solid #eee;
  background: #fff;
  padding: 1rem 0 1rem 6rem;
  font-size: 2rem;
  border-radius: 5rem; }
  #search-page-s:hover, #search-page-s.hover {
    border-color: #ccc; }
  #search-page-s:active, #search-page-s:focus, #search-page-s.focus {
    border-color: #129FEA; }

.ad-container {
  margin-bottom: 2rem; }

.nav-main .menu > li:hover > a, .nav-main .menu > li.hover > a, .nav-main .menu > li:active > a, .nav-main .menu > li.active > a, .nav-main a:hover, .nav-main a.hover, .nav-main a:active, .nav-main a.active, .nav-main a:focus, .nav-main .sub-menu li:hover > a, .nav-main .sub-menu li[class*=current] > a, .tools .tool-login, .tools .tool-me .box li.active a,
.tools .tool-me .box a:hover, .tools .tool-points:hover:after,
.tools .tool-pm:hover:after,
.tools .tool-notification:hover:after {
  background: #ff6fa2;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }

.nav-main .menu li.menu-item-has-children > a:after, .nav-main .sub-menu > .menu-item-has-children > a:after {
  display: inline-block;
  margin-left: .5em;
  font-family: "FontAwesome"; }

.nav-main-placeholder {
  height: 50px;
  margin-bottom: 2rem; }

.nav-main {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #959595;
  font-size: 1.2rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -ms-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -ms-transform-origin: top;
  -webkit-transform-origin: top;
  transform-origin: top;
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }
  .nav-main.fold {
    box-shadow: none;
    -ms-transform: scale3d(1, 0, 0);
    -webkit-transform: scale3d(1, 0, 0);
    transform: scale3d(1, 0, 0); }
  .nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .nav-main ul li {
      position: relative; }
  .nav-main .menu > li {
    float: left; }
    .nav-main .menu > li:hover > .sub-menu, .nav-main .menu > li.hover > .sub-menu, .nav-main .menu > li:active > .sub-menu, .nav-main .menu > li.active > .sub-menu {
      visibility: visible;
      -ms-transform: scale3d(1, 1, 1);
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1); }
  .nav-main .menu li.menu-item-has-children > a:after {
    opacity: .5;
    content: "\f0d7"; }
  .nav-main a {
    position: relative;
    display: block;
    line-height: 50px;
    padding: 0 1rem;
    color: #535353; }
  .nav-main.top {
    background: rgba(255, 255, 255, 0.6); }
  .nav-main .g {
    position: relative; }
  .nav-main .sub-menu {
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    visibility: hidden;
    top: 100%;
    left: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    transform-origin: top;
    -ms-transform: scale3d(1, 0, 1);
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    -ms-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 10; }
    .nav-main .sub-menu .sub-menu {
      -ms-transform-origin: left;
      -webkit-transform-origin: left;
      transform-origin: left;
      -ms-transform: scale3d(0, 1, 1);
      -webkit-transform: scale3d(0, 1, 1);
      transform: scale3d(0, 1, 1); }
    .nav-main .sub-menu > li:hover > .sub-menu {
      visibility: visible;
      -ms-transform: scale3d(1, 1, 1);
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1); }
    .nav-main .sub-menu li {
      float: none; }
      .nav-main .sub-menu li a {
        line-height: 3rem;
        min-width: 12rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .nav-main .sub-menu > .menu-item-has-children > a:after {
      content: "\f0da"; }
  .nav-main .logo {
    height: 50px;
    padding: 0;
    float: left; }
    .nav-main .logo img {
      display: block;
      margin-top: 5px; }
  .admin-bar .nav-main {
    top: 34px; }
  .nav-main .navicon {
    float: left;
    color: #FF4081;
    font-size: 1.3em;
    padding: 0 1.5rem;
    width: auto; }
  @media (max-width: 959px) {
    .nav-main .g {
      padding: 0; } }

.nav-slide {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  overflow-y: scroll;
  visibility: collapse;
  -webkit-overflow-scrolling: touch;
  -ms-transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -ms-transform-origin: left;
  -webkit-transform-origin: left;
  transform-origin: left;
  -ms-transform: scale3d(0, 1, 1);
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  z-index: 100; }
  .nav-slide.on {
    visibility: visible;
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  .nav-slide ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .nav-slide .menu {
    margin: 1rem; }
    .nav-slide .menu .menu-item-has-children > a {
      color: #333;
      font-size: 1.2rem;
      padding: .5rem 0;
      background: #f8f8f8; }
    .nav-slide .menu li > a:hover,
    .nav-slide .menu li:hover > a,
    .nav-slide .menu .header-nav-account-menu li > a:hover,
    .nav-slide .menu .header-nav-account-menu li:hover > a {
      background: #eee;
      color: #000; }
    .nav-slide .menu > li {
      border-bottom: 1px solid #eee; }
  .nav-slide a {
    display: block;
    padding: 1rem 0;
    color: #535353;
    white-space: nowrap; }
  .nav-slide .sub-menu {
    overflow: hidden; }
    .nav-slide .sub-menu a {
      padding: .5rem 0 .5rem 2rem; }
  .nav-slide .menu-item-has-children > a:after {
    display: inline-block;
    margin-left: 1rem;
    font-family: FontAwesome;
    content: "\f0d7"; }

.nav-slide-header {
  background: #f8f8f8;
  font-size: 20px;
  text-indent: 10px; }

.admin-bar .nav-slide {
  padding-top: 46px; }

/**
 * .menu-mobile
 */
body.menu-on {
  overflow: hidden; }
  body.menu-on #mobile-on-layer {
    visibility: visible;
    opacity: .5; }

/**
 * layer
 */
#mobile-on-layer {
  position: fixed;
  background: #000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: collapse;
  -ms-transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  z-index: 99; }

.tools {
  float: right; }
  .tools li,
  .tools .menu-tools,
  .tools .tool {
    position: relative;
    float: left;
    padding: 0 1rem;
    white-space: nowrap;
    width: auto; }
  .tools .tool-login {
    font-weight: bold; }
  .tools .tool-me {
    position: relative; }
    .tools .tool-me .box {
      position: absolute;
      right: 0;
      top: 90%;
      width: 20rem;
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      visibility: collapse;
      z-index: 10;
      -ms-transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -ms-transform: scale3d(1, 0, 1);
      -webkit-transform: scale3d(1, 0, 1);
      transform: scale3d(1, 0, 1);
      -ms-transform-origin: top;
      -webkit-transform-origin: top;
      transform-origin: top; }
      .tools .tool-me .box li {
        width: 50%; }
      .tools .tool-me .box a {
        line-height: 2;
        height: auto;
        border-bottom: 1px solid #eee;
        padding: .5rem 1rem; }
      .tools .tool-me .box .box-points {
        text-align: center; }
    .tools .tool-me:hover .box, .tools .tool-me.hover .box {
      visibility: visible;
      -ms-transform: scale3d(1, 1, 1);
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1); }
  .tools .tool-points:hover:after,
  .tools .tool-pm:hover:after,
  .tools .tool-notification:hover:after {
    position: absolute;
    left: 50%;
    top: 90%;
    content: attr(title);
    border-radius: 2px;
    height: auto;
    line-height: 1;
    font-size: 1rem;
    padding: 1rem;
    font-weight: bold;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .tools .tool-points:hover:before,
  .tools .tool-pm:hover:before,
  .tools .tool-notification:hover:before {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 8.7px 5px;
    border-color: transparent transparent #ff6fa2 transparent;
    content: '';
    margin-left: -3px; }

/**
 * .fm-search
 */
#fm-search {
  height: 0;
  position: relative;
  margin-top: 1rem;
  visibility: collapse;
  -ms-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -ms-transform-origin: top;
  -webkit-transform-origin: top;
  transform-origin: top;
  -ms-transform: scale3d(1, 0, 0);
  -webkit-transform: scale3d(1, 0, 0);
  transform: scale3d(1, 0, 0);
  clear: both; }
  #fm-search.on {
    height: auto;
    visibility: visible;
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  #fm-search input {
    border: 3px solid #ff6fa2;
    text-align: center;
    background: #fff;
    padding: 1rem 0;
    font-size: 3rem;
    border-radius: 5rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3); }

.singular-post .entry-header a {
  color: #959595; }

.singular-post .entry-header a:hover, .singular-post .entry-header a.hover, .singular-post .entry-header a:active, .singular-post .entry-header a.active {
  color: #ff6fa2;
  border-color: #ff6fa2; }

.singular-post {
  position: relative; }
  .singular-post .entry-title {
    margin: 0 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #eee;
    text-align: center; }
  .singular-post .entry-header {
    margin-bottom: 2rem;
    line-height: 2; }
    .singular-post .entry-header .entry-meta {
      display: inline-block;
      color: #959595;
      margin-right: 1rem; }
  .singular-post .entry-excerpt {
    background: #F8F8F8;
    padding: 1rem;
    margin: 0 0 2rem;
    font-size: 1.5rem; }
    .singular-post .entry-excerpt:before, .singular-post .entry-excerpt:after {
      display: inline-block;
      font-family: "FontAwesome";
      content: "\f10d";
      font-size: 2rem;
      color: #dfdfdf; }
    .singular-post .entry-excerpt:after {
      content: "\f10e"; }
  .singular-post .entry-footer {
    padding-top: 1rem;
    border-top: 1px solid #eee; }

.entry-content {
  font-size: 1.3rem;
  text-indent: 0;
  overflow: hidden; }
  .entry-content img {
    max-width: 100%;
    height: auto; }

/** entry-circle */
.entry-circle {
  text-align: center;
  margin: 2rem -2rem;
  font-size: 1.53846rem; }
  .entry-circle .meta {
    position: relative;
    background: #FA8546;
    display: inline-block;
    margin: .5rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    color: #fff;
    white-space: nowrap;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -ms-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    .entry-circle .meta a {
      color: #fff; }
    .entry-circle .meta:hover {
      -ms-transform: scale3d(1.2, 1.2, 1);
      -webkit-transform: scale3d(1.2, 1.2, 1);
      transform: scale3d(1.2, 1.2, 1);
      z-index: 10; }
    .entry-circle .meta:active {
      box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1); }
    .entry-circle .meta:nth-child(2) {
      background: #58C780; }
    .entry-circle .meta:nth-child(3) {
      background: #F9BB43; }
    .entry-circle .meta .number {
      height: 4rem;
      line-height: 5.6rem; }
    .entry-circle .meta:hover .box {
      opacity: 1;
      -ms-transform: translate3d(-50%, 0, 0);
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0); }
  .entry-circle .tx {
    height: 4rem;
    line-height: 2.4rem; }
  .entry-circle .box {
    position: absolute;
    background: #FA8546;
    top: 55%;
    left: 50%;
    border-radius: 99rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    opacity: 0;
    -ms-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -ms-transform: translate3d(-50%, 50%, 0);
    -webkit-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0); }
    .entry-circle .box a {
      display: inline-block;
      padding: .5rem 1.5rem;
      border-right: 1px solid rgba(0, 0, 0, 0.05); }
      .entry-circle .box a:last-child {
        border: none; }
      .entry-circle .box a:hover, .entry-circle .box a.active {
        background: rgba(0, 0, 0, 0.1); }

@media (min-width: 768px) {
  .entry-circle .meta {
    width: 10rem;
    height: 10rem;
    margin: 1rem; }
    .entry-circle .meta .number {
      height: 5rem;
      line-height: 7rem;
      font-size: 2rem; }
    .entry-circle .meta .tx {
      height: 5rem;
      line-height: 3rem;
      font-size: 2rem; } }
.entry-source {
  border-top: 1px solid #eee;
  list-style-type: square;
  margin: 1rem 0;
  color: #959595;
  padding: 1rem 0 0 2em;
  font-size: 1rem; }
  .entry-source a {
    color: #535353;
    border-bottom: 1px dotted #eee; }
    .entry-source a:hover, .entry-source a.hover {
      color: #ff6fa2;
      border-color: #ff6fa2; }

.adjacent-posts {
  position: relative; }
  .adjacent-posts a {
    position: relative;
    display: block;
    height: 10rem;
    border-radius: 4px;
    overflow: hidden; }
    .adjacent-posts a:hover img, .adjacent-posts a.hover img {
      -ms-transform: translate3d(0, -50%, 0);
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0); }
  .adjacent-posts .left {
    margin-bottom: 2rem; }
  .adjacent-posts img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    -ms-transition-duration: 0.75s;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s; }
  .adjacent-posts .title {
    position: absolute;
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    font-size: 1.1rem;
    padding: 1rem .5rem .5rem;
    font-weight: bold;
    z-index: 1;
    text-shadow: 0 1px 3px #000; }

.related-posts .row {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; }
.related-posts .card {
  margin: 0;
  display: inline-block;
  width: 15rem;
  padding: 0 1rem; }
  .related-posts .card .title {
    height: auto; }

.widget_adbox .adbox {
  background: none;
  padding: 0;
  border: none; }

.widget_author_posts {
  margin-bottom: 0; }

.page-pagination {
  visibility: collapse;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 50%;
  height: 0;
  margin-top: -2.5rem;
  text-align: center;
  opacity: 0; }
  .page-pagination.fixed {
    opacity: 1;
    visibility: visible; }
  .page-pagination a {
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    height: 5rem;
    padding: 0 1rem 0 .5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    opacity: .3;
    white-space: nowrap;
    border-radius: 0 10rem 10rem 0; }
    .page-pagination a:hover {
      opacity: .8; }
      .page-pagination a:hover .tx {
        display: inline-block; }
  .page-pagination .next {
    border-radius: 10rem 0 0 10rem;
    right: 0;
    left: auto;
    padding: 0 .5rem 0 1rem; }
  .page-pagination .tx {
    display: none;
    padding: 0 10px; }

@media (min-width: 768px) {
  .page-pagination .next {
    /*right: 0;*/ }

  .page-pagination .tx {
    display: inline-block; } }
#full-width-mode {
  display: none; }

@media (min-width: 768px) {
  #full-width-mode {
    display: block;
    position: absolute;
    background: #fff;
    top: 0;
    right: 0;
    width: 2rem;
    text-align: center;
    padding: 1rem 2rem;
    cursor: pointer; }
    #full-width-mode:hover, #full-width-mode.hover {
      background: #F8F8F8; }
    #full-width-mode:active, #full-width-mode.active {
      background: #eee; }

  #main {
    display: block; }
    #main.expand {
      width: 100%; }
      #main.expand .content-reset > p > a {
        display: block; }
      #main.expand .content-reset > p > img, #main.expand .content-reset > p > a > img {
        width: 100%; }

  #sidebar-container.expand {
    display: none; } }
.tip-status {
  position: relative;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .tip-status a {
    text-decoration: underline; }

/** 
 * type
 */
.tip-status-success,
.tip-status-green {
  background: #defcd5;
  color: #52a954; }

.tip-status-error,
.tip-status-ban {
  background: #f1d7d7;
  color: #c75050; }

.tip-status-warning {
  background: #f6f3d5;
  color: #96904d; }

.tip-status-help,
.tip-status-blue,
.tip-status-info {
  background: #e6f4f9;
  color: #4d8796; }

.tip-status-question {
  background: #FBEC88;
  color: #363636; }

.tip-status-spinner,
.tip-status-loading {
  background: #FBEC88;
  color: #666; }

/** 
 * size 
 */
.tip-status-middle {
  font-size: 2rem; }

.tip-status-large {
  font-size: 3rem; }

.fa-spin {
  animation: 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s normal none infinite running fa-spin; }

#ajax-loading-container, #ajax-loading-container .btn-close {
  padding: 1.5rem; }

#ajax-loading-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  -ms-transform-origin: top;
  -webkit-transform-origin: top;
  transform-origin: top;
  -ms-transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -ms-transform: scale3d(1, 0, 1);
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1); }
  #ajax-loading-container .fa {
    vertical-align: inherit; }
  #ajax-loading-container.show {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  #ajax-loading-container.success, #ajax-loading-container.green {
    background: #defcd5; }
  #ajax-loading-container.error, #ajax-loading-container.ban {
    background: #f1d7d7; }
  #ajax-loading-container.warning {
    background: #f6f3d5; }
  #ajax-loading-container.help, #ajax-loading-container.blue, #ajax-loading-container.info {
    background: #e6f4f9; }
  #ajax-loading-container.question, #ajax-loading-container.spinner, #ajax-loading-container.loading {
    background: #FBEC88; }
  #ajax-loading-container .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: auto;
    height: 100%;
    color: #c75050; }
    #ajax-loading-container .btn-close:hover, #ajax-loading-container .btn-close.hover {
      color: #fff;
      background: #e04343; }
    #ajax-loading-container .btn-close:active, #ajax-loading-container .btn-close.active, #ajax-loading-container .btn-close:focus, #ajax-loading-container .btn-close.focus {
      color: #fff;
      background: #993d3d; }
    #ajax-loading-container .btn-close .number {
      font-size: 50%; }
  #ajax-loading-container .tip-status {
    display: inline;
    margin: 0 auto;
    background: none;
    border: none;
    border-radius: 0; }

#ajax-loading {
  margin: 0 20px; }

@media (min-width: 768px) {
  #ajax-loading-container {
    font-size: 2rem; }

  #ajax-loading {
    margin: 0 40px; } }
.comment-loading .tip-status,
#respond-loading-ready .tip-status {
  background: none;
  border: none; }

.comment-list {
  padding: 0; }
  .comment-list .comment.is-me > .comment-body, .comment-list .comment.new > .comment-body {
    border: 2px solid #FBEC88; }
  .comment-list .comment.is-post-author > .comment-body .author a {
    font-weight: bold;
    color: #ff6fa2; }
  .comment-list .media {
    display: block;
    margin: 0; }
  .comment-list .media-left {
    padding-right: 20px; }
  .comment-list .comment-body {
    position: relative;
    padding: 1rem 2rem;
    margin-bottom: 1rem; }
    .comment-list .comment-body:hover:before, .comment-list .comment-body.hover:before {
      background: #ff6fa2;
      display: block;
      position: absolute;
      left: -1px;
      top: 0;
      height: 100%;
      width: 5px;
      content: ''; }
  .comment-list .comment-content {
    font-size: 1.2rem;
    margin-bottom: .5rem; }
    .comment-list .comment-content img {
      width: auto;
      max-height: 5rem; }
  .comment-list p {
    margin-bottom: 0; }
  .comment-list .avatar {
    width: 50px;
    height: 50px; }
  .comment-list .children .avatar {
    width: 1rem;
    height: 1rem; }
  .comment-list .media-heading {
    font-size: 1em;
    margin: 0; }
  .comment-list .comment-meta-data {
    color: #959595; }
    .comment-list .comment-meta-data:after {
      padding-left: 5px;
      padding-right: 5px;
      content: '*';
      font-weight: normal;
      font-size: 5px; }
    .comment-list .comment-meta-data:last-child:after {
      display: none; }
    .comment-list .comment-meta-data a {
      color: #959595; }
      .comment-list .comment-meta-data a:hover, .comment-list .comment-meta-data a:active {
        color: #ff6fa2;
        text-decoration: underline; }
  .comment-list .author a {
    color: #4083a9; }
  .comment-list .children {
    position: relative;
    margin: 0 0 1rem 2rem;
    padding: 0; }
    .comment-list .children:before {
      position: absolute;
      left: 2rem;
      top: -3px;
      width: 10px;
      height: 10px;
      content: '';
      background: #fff;
      box-shadow: -1px -1px 0 #ebebeb;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 1; }
    .comment-list .children #respond {
      margin: 0; }
    .comment-list .children .children {
      margin: 0; }
  .comment-list .comment-reply-title {
    display: block; }
  .comment-list .page-tip {
    margin: 1rem; }

.comment-list #respond {
  border: 2px solid #ff6fa2;
  border-radius: 4px; }
  .comment-list #respond:before {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 1rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ff6fa2 transparent; }

#respond {
  position: relative; }
  #respond .heading {
    height: 0; }
  #respond .media-body {
    position: relative; }
  #respond .btn-group-submit {
    position: relative;
    display: table;
    width: 100%; }
    #respond .btn-group-submit > * {
      display: table-cell;
      padding: 1rem;
      width: 1%; }
    #respond .btn-group-submit .submit {
      display: table-cell;
      width: 100%; }
  #respond .form-group-textarea {
    margin-bottom: 0; }

#cancel-comment-reply-link {
  position: absolute;
  right: 0;
  top: 0;
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: bold;
  text-align: center;
  color: #ff6fa2;
  z-index: 1; }
  #cancel-comment-reply-link:hover, #cancel-comment-reply-link.hover {
    color: #fff;
    background: #ff6fa2; }

#commentform {
  margin: 0; }

#comment-form-comment {
  resize: vertical;
  padding-top: 0;
  min-height: 50px; }

/**
 * #comment-pagination-container
 */
#comment-pagination-container {
  text-align: center; }
  #comment-pagination-container a {
    padding-left: 10px;
    padding-right: 10px; }

@media (max-width: 767px) {
  #respond .media-left {
    display: none; } }
.comment-emotion-pop-btn {
  color: #535353; }
  .comment-emotion-pop-btn:hover, .comment-emotion-pop-btn.hover {
    background: #F8F8F8; }
  .comment-emotion-pop-btn:active, .comment-emotion-pop-btn.active, .comment-emotion-pop-btn:focus, .comment-emotion-pop-btn.focus {
    background: #eee; }

#theme_comment_emotion-kaomoji a {
  background: #F8F8F8; }

#theme_comment_emotion-img img {
  display: block;
  width: auto;
  height: 5rem; }

.comment-emotion-area-pop {
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important; }
  .comment-emotion-area-pop .pop {
    background: #fff;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 100%;
    border: 2px solid #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    z-index: 10; }
  .comment-emotion-area-pop a {
    float: left;
    padding: .2rem .5rem;
    border: 2px solid #fff;
    color: #535353;
    font-size: 1.2rem;
    border-radius: 4px; }
    .comment-emotion-area-pop a:hover, .comment-emotion-area-pop a.hover {
      border-color: #ff6fa2; }

#comment-pagination-container {
  margin-bottom: 2rem; }

.comment-pagination {
  display: table; }
  .comment-pagination a {
    display: table-cell;
    width: 1%; }
    .comment-pagination a:first-child {
      border-radius: 4px 0 0 4px; }
    .comment-pagination a:last-child {
      border-radius: 0 4px 4px 0; }

.mod {
  margin-bottom: 5rem; }
  .mod > .heading {
    position: relative;
    padding-left: 1rem;
    padding-bottom: .4rem; }
    .mod > .heading:after {
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      height: 1px;
      background: #ffa2c3;
      content: ''; }
    .mod > .heading a {
      color: #959595; }
      .mod > .heading a:hover, .mod > .heading a.hover {
        color: #ff6fa2; }
    .mod > .heading .extra {
      display: inline-block; }
      .mod > .heading .extra a {
        font-weight: bold; }
        .mod > .heading .extra a:after {
          display: inline-block;
          padding: 0 .5rem;
          content: ' . ';
          line-height: .75;
          opacity: .5;
          vertical-align: top; }
        .mod > .heading .extra a:last-child:after {
          display: none; }
    .mod > .heading .title {
      display: inline-block;
      background: #ff6fa2;
      line-height: 2;
      font-size: 1.3rem;
      font-weight: normal;
      margin-right: 2rem;
      -ms-transform: skew(-20deg);
      -webkit-transform: skew(-20deg);
      transform: skew(-20deg); }
      .mod > .heading .title:hover, .mod > .heading .title.hover {
        background: #ff3c81; }
      .mod > .heading .title a {
        color: #fff; }
      .mod > .heading .title .bg {
        display: inline-block;
        position: relative;
        padding: 0 1rem;
        color: #fff;
        -ms-transform: skew(20deg);
        -webkit-transform: skew(20deg);
        transform: skew(20deg); }
        .mod > .heading .title .bg:before, .mod > .heading .title .bg:after {
          position: absolute;
          background: #ff6fa2;
          right: -.5rem;
          top: 0;
          width: 1px;
          height: 100%;
          display: block;
          content: '';
          -ms-transform: skew(-20deg);
          -webkit-transform: skew(-20deg);
          transform: skew(-20deg); }
        .mod > .heading .title .bg:before {
          right: auto;
          left: -.5rem; }
  .mod .below-more {
    padding: .5rem 0;
    margin-bottom: 2rem;
    -ms-transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem); }

.widget_point_rank .avatar-container {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  background: #eee; }
  .widget_point_rank .avatar-container img {
    width: 100%; }

.widget_point_rank .user-list {
  position: relative;
  margin-bottom: 2rem; }
  .widget_point_rank .user-list .avatar {
    -ms-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s; }
  .widget_point_rank .user-list:hover .avatar, .widget_point_rank .user-list.hover .avatar {
    -ms-transform: scale3d(1.2, 1.2, 2);
    -webkit-transform: scale3d(1.2, 1.2, 2);
    transform: scale3d(1.2, 1.2, 2);
    z-index: 10; }
  .widget_point_rank .user-list:hover .extra, .widget_point_rank .user-list.hover .extra {
    opacity: 1;
    background: #ff6fa2; }
.widget_point_rank .author {
  margin: .5rem 0 0;
  font-weight: normal;
  font-size: 1.2rem;
  text-align: center; }
.widget_point_rank .extra {
  /*display: none;*/
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 111, 162, 0.6);
  color: #fff;
  border-radius: .5rem;
  padding: 0 .2rem;
  font-weight: bold;
  font-size: 1rem; }

#footer {
  background: #fafafa;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #eee; }
  #footer .copyright {
    border-top: 1px solid #eee;
    background: #f6f6f6;
    padding: 2rem 0;
    margin: 2rem 0 0;
    text-align: center; }

#footer .links-container {
  border-top: 1px dashed #eee;
  padding-top: 1rem;
  margin-bottom: 0; }
  #footer .links-container #links-footer li {
    display: inline-block;
    float: none;
    margin: 0 1rem 1rem 0;
    width: auto; }

#widget-author-card .author-link {
  position: relative;
  display: block;
  margin-bottom: 1rem; }
  #widget-author-card .author-link:hover, #widget-author-card .author-link.hover {
    background: #f8f8f8; }
  #widget-author-card .author-link small {
    position: absolute;
    right: 0;
    top: 0;
    font-size: .9rem; }
#widget-author-card .avatar {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
  margin-bottom: 1rem; }
#widget-author-card .author-card-name {
  font-weight: normal;
  text-align: center;
  margin: 0 0 1rem; }
#widget-author-card .author-card-description {
  color: #959595; }
#widget-author-card .tx {
  display: block; }
#widget-author-card .author-card-meta-links {
  display: table;
  margin: 0 -2rem; }
#widget-author-card .author-card-meta-links a {
  position: relative;
  display: table-cell;
  width: 1%;
  text-align: center;
  font-size: 1rem;
  vertical-align: middle;
  color: #959595;
  border-right: 1px solid #eee; }
  #widget-author-card .author-card-meta-links a:hover, #widget-author-card .author-card-meta-links a.hover {
    color: #ff6fa2; }
  #widget-author-card .author-card-meta-links a:last-child {
    border: none; }

#homebox-nav {
  position: absolute;
  background: #fff;
  margin-left: -1rem;
  border-radius: 2px;
  font-size: 1rem;
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }
  #homebox-nav a {
    display: block;
    position: relative;
    padding: .5rem;
    color: #959595;
    border: 1px solid #eee;
    margin-top: -1px; }
    #homebox-nav a:hover, #homebox-nav a.active {
      background: #ff6fa2;
      border-color: #ff6fa2;
      color: #fff;
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    #homebox-nav a:first-child {
      border-radius: 4px 4px 0 0; }
    #homebox-nav a:last-child {
      border-radius: 0 0 4px 4px; }
    #homebox-nav a:hover:after {
      display: block; }
    #homebox-nav a:hover .title {
      display: block; }
    #homebox-nav a:after {
      display: none;
      position: absolute;
      background: #ff6fa2;
      top: -1px;
      left: 100%;
      content: attr(title);
      white-space: nowrap;
      padding: .5rem .5rem .5rem 0;
      color: #fff;
      border-radius: 0 4px 4px 0;
      border-bottom: 1px solid #ff6fa2; }

/*# sourceMappingURL=frontend.css.map */
