
#full-width-mode{
	display: none;
}
@media ( min-width: 768px ){
	.singular-post > .panel-body{
		position: relative;
	}
	#full-width-mode{
		display: block;
		position: absolute;
		background: #fff;
		top: 0;
		right: 0;
		width: 40px;
		text-align: center;
		padding: 10px;
		cursor: pointer;
		box-shadow: 0 1px 5px rgba(0,0,0,.3);
		opacity: .7;
		border-radius: 2px;
	}
	#full-width-mode:hover{
		opacity: 1;
	}
	#full-width-mode:active{
		background: #eee;
	}
	#main.expand{
		width: 100%;
	}
		#main.expand .content-reset > p > a{
			display: block;
		}
		#main.expand .content-reset > p > img,
		#main.expand .content-reset > p > a > img{
			width: 100%;
		}
	#sidebar-container.expand{
		display: none;
	}
}
