#homebox-nav{
	position: absolute;
	background: #fff;
	margin-left: -10px;
	text-align: center;
	border: 1px solid rgba(0,0,0,.1);
	border-bottom: none;
	border-radius: 2px;
	font-size: 12px;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}
	#homebox-nav a,
	#homebox-nav a:hover .title{
		display: block;
	}
	#homebox-nav a{
		position: relative;
		padding: 5px;
		color: #999;
		transition: none;
		border-bottom: 1px solid rgba(0,0,0,.07);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#homebox-nav a:after{
		display: none;
		position: absolute;
		background: #FF4081;
		top: 0;
		left: 100%;
		height: 100%;
		content: attr(title);
		white-space: nowrap;
		padding: 5px 10px 5px 0;
		color: #fff;
		border-radius: 0 2px 2px 0;
		box-shadow: 0 1px 0 rgb(238,60,120);
	}
	#homebox-nav a:hover:after{
		display: block;
	}
		#homebox-nav a:hover,
		#homebox-nav a.active{
			background: #FF4081;
			color: #fff;
			transform: translateY(0);
		}
