#homebox-nav{
	position: absolute;
	background: #fff;
	margin-left: 0;
	text-align: center;
	box-shadow: 0 1px 5px rgba(0,0,0,.3);
	border-radius: 2px;
}

	#homebox-nav a,
	#homebox-nav a:hover .title{
		display: block;
	}
	#homebox-nav a{
		position: relative;
		padding: 10px;
		color: #999;
		transition: none;
	}
	#homebox-nav a:after{
		display: none;
		position: absolute;
		background: #FF4081;
		right: 100%;
		content: attr(title);
		white-space: nowrap;
		padding: 10px 0 10px 10px;
		top: 50%;
		transform: translateY(-50%);
		color: #fff;
		border-radius: 2px 0 0 2px;
	}
	#homebox-nav a:hover:after{
		display: block;
	}
		#homebox-nav a:hover,
		#homebox-nav a.active{
			background: #FF4081;
			color: #fff;
		}
	#homebox-nav .title,
	#homebox-nav a:hover .floor{
		display: none;
	}
@media( min-width: 768px ){
	body.home #sidebar-container{
		padding-left: 45px;
	}
}