.mod{
	margin-bottom: $grid-g-gutter;
	& > .heading{
		position: relative;
		padding-left: 1rem;
		padding-bottom: .4rem;
		&:after{
			position: absolute;
			width: 100%;
			top: 100%;
			left: 0;
			height: 1px;
			background: lighten($accent-color,10%);
			content: '';
		}
		a{
			color: $title-color;
			&:hover,
			&.hover{
				color: $link-color-hover;
			}
		}
		.extra{
			display: inline-block;
			a{
				&:after{
					display: inline-block;
					padding: 0 .5rem;
					content: ' . ';
					line-height: .75;
					opacity: .5;
					vertical-align: top;
				}
				&:last-child:after{
					display: none;
				}
			}
			
		}
		.title{
			display: inline-block;
			background: $accent-color;
			line-height: 2;
			font-size: $mod-title-font-size;
			font-weight: normal;
			margin-right: 2rem;
			@include transform(skew(-20deg));
			&:hover,
			&.hover{
				background: darken($accent-color,10%);
			}
			a{
				color: #fff;
			}
			.bg{
				display: inline-block;
				position: relative;
				padding: 0 1rem;
				color: #fff;
				@include transform(skew(20deg));
				
				&:before,
				&:after{
					position: absolute;
					background: $accent-color;
					right: -.5rem;
					top: 0;
					width: 1px;
					height: 100%;
					display: block;
					content: '';
					@include transform(skew(-20deg));
				}
				&:before{
					right: auto;
					left: -.5rem;
				}
			}
		}
	}
	.below-more{
		padding: .5rem 0;
		margin-bottom: $panel-content-gutter;
		@include transform(translateY(-$panel-content-gutter / 2));
	}
}