%grid{
	float: left;
	box-sizing: border-box;
	padding-left: $grid-gutter;
	padding-right: $grid-gutter;
}
@mixin grid($width){
    @extend %grid;
    width: percentage($width);
}
.g{
	@extend .clearfix;
	margin-left: auto;
	margin-right: auto;
	padding-left: $grid-g-gutter;
	padding-right: $grid-g-gutter;
}

$device-lists: phone, tablet, desktop;
@each $device in $device-lists{
	@for $total-i from 1 through $grid-column{
		@for $i from 1 through $total-i{
			.g-#{$device}-#{$i}-#{$total-i} {
				@include grid($i / $total-i);
			}
		}
	}
}

.row{
	padding-left: 0;
	padding-right: 0;
	margin-left: -$grid-gutter;
	margin-right: -$grid-gutter;
	@extend .clearfix;
}

@include view-phone{
	.hidden-phone,
	.visible-desktop,
	.visible-tablet{
		display: none;
	}
	[class *= "g-tablet"],
    [class *= "g-desktop"] {
        width: 100%;
    }
    [class *= "g-table"],
    [class *= "g-desktop"],
    [class *= "g-phone"]{
	    padding-left: $grid-g-mobile-gutter;
	    padding-right: $grid-g-mobile-gutter;
    }
    .g{
		padding-right: $grid-g-phone-gutter;
		padding-left: $grid-g-phone-gutter;
	}
}
@include view-tablet{
	.visible-desktop,
	.visible-phone,
	.hidden-table{
		display: none;
	}
    [class *= "g-desktop"] {
        width: 100%;
    }
}
@include view-desktop{
	.g{
		max-width: $grid-max-width-desktop;
	}
	.visible-tablet,
	.visible-phone,
	.hidden-desktop{
		display: none;
	}
}
@include view-not-phone{
	.g{
		padding-right: $grid-g-desktop-gutter;
		padding-left: $grid-g-desktop-gutter;
	}
}